@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background: linear-gradient(180deg, var(--color-principal) 0.21%, #0D0D0D 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 64px;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  font-weight: 600;
}

h3 {
  font-size: 32px;
  font-weight: 500;
}

h4 {
  font-size: 24px;
  font-weight: 400;
}

h5 {
  font-size: 20px;
  font-weight: 300;
}

h6 {
  font-size: 16px;
  font-weight: 200;
}

.fondo-transparente {
  border-radius: 25px;
  border: 1px solid var(--Transparent, rgba(255, 255, 255, 0.03));
  background: var(--Transparent, linear-gradient(180deg, rgba(255, 255, 255, 0.03) -30.29%, rgba(255, 255, 255, 0) 144.92%));
  backdrop-filter: blur(5px);
}

.boton {
  padding: 0.6875rem 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  width: max-content;
}
@media (max-width: 650px) {
  .boton {
    padding: 0.5rem 1rem;
    font-weight: 600;
  }
}

.seccion-contactos .landing-contactos {
  display: flex;
  position: relative;
}
.seccion-contactos .landing-contactos .contenido-landing {
  padding: 4rem 100px;
  gap: 3.125rem;
  display: flex;
  flex-direction: column;
  z-index: 3;
}
.seccion-contactos .landing-contactos .contenido-landing .breadcrumb-contactos .breadcrumb-title h1 {
  margin-bottom: 0;
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  padding: 0 50px;
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  position: relative;
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col h2 {
  color: var(--color-fondo);
  font-family: "Caprasimo", cursive;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 2rem;
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col p {
  color: var(--color-fondo);
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col .botones-contactos {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 3rem;
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col .botones-contactos a {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  border: 1px solid var(--color-secundario);
  color: var(--color-secundario);
  align-items: center;
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col .botones-contactos a i {
  font-size: 20px;
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col .botones-contactos a:hover {
  border: 1px solid transparent;
  color: var(--color-principal);
  background: linear-gradient(138deg, var(--color-fondo) 0.21%, var(--color-contraste) 100.21%);
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col .botones-contactos a label {
  cursor: pointer;
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col form div fieldset div {
  justify-content: center;
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col form div fieldset div .wsf-field-wrapper label,
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col form div fieldset div .wsf-field-wrapper small {
  color: var(--color-fondo);
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col form div fieldset div .wsf-field-wrapper input,
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col form div fieldset div .wsf-field-wrapper textarea {
  border-radius: 1rem;
  padding: 0.8rem 1rem;
  outline: none;
  border-color: none;
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col form div fieldset div .wsf-field-wrapper input::placeholder,
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col form div fieldset div .wsf-field-wrapper textarea::placeholder {
  color: var(--color-principal);
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col form div fieldset div .wsf-field-wrapper > div {
  justify-content: center;
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col form div fieldset div .wsf-field-wrapper > div .wsf-inline input[type=checkbox] {
  accent-color: var(--color-contraste);
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col form div fieldset div .wsf-field-wrapper span strong {
  color: var(--color-secundario);
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col form div fieldset .wsf-bottom {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col form div fieldset .wsf-bottom button {
  width: max-content;
  padding: 0.6875rem 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-contraste);
  border: none;
  color: var(--color-principal);
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col form div fieldset .wsf-bottom button:hover {
  background: linear-gradient(138deg, var(--color-fondo) 0.21%, var(--color-contraste) 100.21%);
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido #col-form {
  position: relative;
  min-width: 50%;
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .ctn-redes {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  padding-bottom: 4rem;
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .ctn-redes p {
  color: var(--color-fondo);
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .ctn-redes .redes-sociales {
  display: flex;
  gap: 32px;
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .ctn-redes .redes-sociales a i {
  font-size: 2rem;
  color: var(--color-secundario);
  transition: color 0.3s ease;
}
.seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .ctn-redes .redes-sociales a i:hover {
  color: var(--color-contraste);
}
.seccion-contactos .landing-contactos img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.seccion-contactos .landing-contactos > span {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: var(--color-principal);
  opacity: 96%;
}
.seccion-contactos .mapa {
  padding: 0 100px;
  margin: 0 50px;
  height: 700px;
}
.seccion-contactos .mapa iframe {
  width: 100%;
  height: 100%;
}
.seccion-contactos .informacion-contacto {
  padding: 3.5rem 100px;
  margin: 0 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3.5rem;
}
.seccion-contactos .informacion-contacto a {
  display: flex;
  flex-direction: column;
  padding: 3rem 3.5rem;
  gap: 2.5rem;
  transition: all 0.3s ease-in-out;
  color: var(--color-secundario);
  text-align: center;
  justify-content: center;
}
.seccion-contactos .informacion-contacto a:hover {
  background: linear-gradient(133deg, var(--color-contraste) 0.21%, var(--color-terciario) 103.64%);
  color: var(--color-fondo);
}
.seccion-contactos .informacion-contacto a i {
  font-size: 2.5rem;
}
.seccion-contactos .informacion-contacto a p {
  font-size: 1.2rem;
}
@media (max-width: 1550px) {
  .seccion-contactos .landing-contactos .contenido-landing .ctn-contenido {
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
  .seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col {
    min-width: 40%;
  }
  .seccion-contactos .landing-contactos .contenido-landing .ctn-contenido #col-form {
    position: relative;
    min-width: 60%;
  }
}
@media (max-width: 1200px) {
  .seccion-contactos .landing-contactos .contenido-landing .ctn-contenido {
    padding: 0;
    gap: 4rem;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col {
    align-items: center;
  }
  .seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col .botones-contactos {
    margin-top: 2rem;
  }
  .seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .ctn-redes {
    position: relative;
    padding-bottom: 0;
    gap: 0.5rem;
    margin: 0 auto;
  }
  .seccion-contactos .mapa {
    padding: 0;
    margin: 0 50px;
  }
}
@media (max-width: 1000px) {
  .seccion-contactos .landing-contactos .contenido-landing {
    padding: 50px;
  }
  .seccion-contactos .mapa {
    padding: 0;
    margin: 0;
  }
  .seccion-contactos .informacion-contacto {
    padding: 2.5rem;
    margin: 0;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 650px) {
  .seccion-contactos .landing-contactos .contenido-landing {
    padding: 2.5rem;
  }
  .seccion-contactos .landing-contactos .contenido-landing .ctn-contenido .col h2 {
    font-size: 28px;
  }
  .seccion-contactos .mapa {
    padding: 0;
    margin: 0;
  }
  .seccion-contactos .informacion-contacto {
    padding: 2.5rem;
    margin: 0;
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=contactos.css.map */
