@import 'variables';

.breadcrumb-title {
    margin: 0 50px;

    .breadcrumb-container {
        ol {
            display: flex;
            align-items: center;

            li {
                display: flex;
                align-items: center;
                list-style: none;

                &:nth-child(1) {
                    a {
                        margin-left: 0px;
                        padding-left: 0px;
                        text-decoration: none;
                    }

                    span {
                        font-family: $fuenteTerciaria;
                        color: $color4 !important;
                        font-weight: 400;
                        font-size: 16px;
                    }
                }

                a {
                    text-decoration: none;
                    color: $color3;
                    font-weight: 600;
                    font-size: 1rem;
                }

                span {
                    font-family: $fuenteTerciaria;
                    color: $color3;
                    font-size: 1rem;
                    font-weight: 600;

                    &:hover {
                        color: $color4;
                    }

                    i {
                        color: $color4;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    h1 {
        font-family: $fuentePrimaria;
        color: $color3;
        font-weight: 400;
        font-size: 6rem;
        margin-bottom: 8rem;
    }

    @media (max-width: 1200px) {
        margin: 0;
    }

    @media (max-width: 900px) {
        h1 {
            font-size: 4rem;
            margin-bottom: 2rem;
        }
    }

    @media (max-width: 650px) {

        h1 {
            font-size: 3rem;
        }

        .breadcrumb-container {
            ol {
                display: flex;
                align-items: center;

                li {
                    display: flex;
                    align-items: center;
                    list-style: none;

                    &:nth-child(1) {
                        a {
                            margin-left: 0px;
                            padding-left: 0px;
                            text-decoration: none;
                        }

                        span {
                            font-family: $fuenteTerciaria;
                            color: $color4 !important;
                            font-weight: 400;
                            font-size: 16px;
                        }
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    a {
                        text-decoration: none;
                        color: $color3;
                        font-weight: 600;
                        font-size: 1rem;
                    }

                    span {
                        font-family: $fuenteTerciaria;
                        color: $color3;
                        font-size: 1rem;
                        font-weight: 600;

                        &:hover {
                            color: $color4;
                        }

                        i {
                            color: $color4;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 400px) {

        h1 {
            font-size: 2rem;
        }

        .breadcrumb-container {
            ol {
                display: flex;
                align-items: center;

                li {
                    display: flex;
                    align-items: center;
                    list-style: none;

                    &:nth-child(1) {
                        a {
                            margin-left: 0px;
                            padding-left: 0px;
                            text-decoration: none;
                        }

                        span {
                            font-family: $fuenteTerciaria;
                            color: $color4 !important;
                            font-weight: 400;
                            font-size: 16px;
                        }
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    a {
                        text-decoration: none;
                        color: $color3;
                        font-weight: 600;
                        font-size: 1rem;
                    }

                    span {
                        font-family: $fuenteTerciaria;
                        color: $color3;
                        font-size: 1rem;
                        font-weight: 600;

                        &:hover {
                            color: $color4;
                        }

                        i {
                            color: $color4;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 350px) {

        .breadcrumb-container {
            ol {
                display: flex;
                align-items: center;

                li {
                    display: flex;
                    align-items: center;
                    list-style: none;

                    &:nth-child(1) {
                        a {
                            margin-left: 0px;
                            padding-left: 0px;
                            text-decoration: none;
                        }

                        span {
                            font-family: $fuenteTerciaria;
                            color: $color4 !important;
                            font-weight: 400;
                            font-size: 16px;
                        }
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    a {
                        text-decoration: none;
                        color: $color3;
                        font-weight: 600;
                        font-size: 1rem;
                        margin: 0;
                        padding: 5px 8px;
                    }

                    span {
                        font-family: $fuenteTerciaria;
                        color: $color3;
                        font-size: 1rem;
                        font-weight: 600;

                        &:hover {
                            color: $color4;
                        }

                        i {
                            color: $color4;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}